
  
  <!-- Toolbar -->
  <mat-toolbar class="border-solid border-2 border-gray-100 bg-white" style="background-color: white !important;">
    <mat-toolbar-row>
      
  
      <span class="title {{mobile? 'mob' : 'desk'}}"><img
        width="40"
        alt="Angular Logo"
        src="../../assets/logo/Logo.svg"
      />
      </span>
      <span>PD Bot</span>
      <!-- <span class="description hide-md" *ngIf="!mobile">Angular 5+ Component to render PDF</span> -->
  
      <span class="spacer"></span>
  
        <mat-label *ngIf="user_Name" class="user-name 2xl:pr-1 pr-3">{{user_Name}}</mat-label>
        <mat-label *ngIf="!user_Name" class="user-name 2xl:pr-1 pr-3">Test User</mat-label>
      
      <div class="circle-frame">
        <img src="../assets/images/avatar.jpg" alt="Logo" class="w-full p-1 circle-frame">
      </div>
      <!-- <a href="https://github.com/vadimdez/ng2-pdf-viewer" mat-raised-button class="button">Get Started</a> -->
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- <div class="h-screen flex flex-col "> -->
  <div class="containerClass">
    
            <router-outlet></router-outlet>
  </div>
 
  
  
  