<!-- <div class="bg-white p-5 h-full flex-1" style="width:100vw; grid-template-rows: 1fr auto;"> -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="small" color="#fff" type="square-jelly-box" [fullScreen]="false">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="grid grid-cols-11 h-full">
    <div class="col-span-2 text-center p-2">
        <mat-accordion>
            <mat-expansion-panel *ngFor="let item of task_list;let i=index;">
                <mat-expansion-panel-header>
                    <mat-panel-title class="p-2">
                        {{item.title}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <section class="text-left">
                    <span class="chk-box">
                        <mat-checkbox class="" [checked]="allComplete[item.title]"
                            [indeterminate]="someComplete(item,i)" (change)="setAll($event.checked,item,i)">

                        </mat-checkbox>
                        {{task.name}}
                    </span>
                    <span class="chk-box">
                        <ul class="ul-check">
                            <li class="li-check" *ngFor="let subtask of item.subTask; let j=index">
                                <mat-checkbox [(ngModel)]="subtask.completed"
                                    (ngModelChange)="updateAllComplete(item,i,j)">
                                </mat-checkbox>
                                {{subtask.name}}
                            </li>
                        </ul>
                    </span>
                </section>
            </mat-expansion-panel>
            <!-- <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="p-2">
                            Regions
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>I'm visible because I am open</p>
                </mat-expansion-panel> -->
        </mat-accordion>
    </div>
    <div class="col-span-9 grid grid-cols-7" style="position: relative ;height:100%; overflow: hidden;">
        <div class="col-span-4  bg-gray-100 py-5 " style="position: relative ; overflow-y: auto; overflow-x: hidden;">
            <div style=" padding-bottom:50px; height:100% !important;overflow-y:auto " #scrollContainer
                class="scroll-container">
                <ng-container *ngFor="let message of messages">
                    <div class="message" [ngClass]="{ 'from': message.author === 'bot',
                    'to': message.author === 'user' }">

                        {{message.content }}
                    </div>

                </ng-container>
            </div>
            <div class="bg-gray-100 box-wrapper ">
                <!-- <mat-form-field class="w-full border-solid"> -->
                <!-- <div class="bg-white m-3">
                        <input class="py-5 h-full" style="height:80px" matInput placeholder="Enter a query..."
                        [(ngModel)]="value" (keyup.enter)="sendMessage()" type="text" name="fieldName11">
                        <mat-icon matSuffix (click)="sendMessage()" class="send-icon">send</mat-icon>
                    </div> -->
                <!-- <div class="w-full h-3"><mat-icon matSuffix (click)="sendMessage()" class="send-icon"></mat-icon></div> -->
                <div class="flex space-x-4 mx-3">
                    <div class="flex rounded-md w-full ">
                        <input type="text" class="w-full rounded-md rounded-r-none p-3" style="outline: none;"
                            placeholder="Enter a query..." [(ngModel)]="value" (keyup.enter)="sendMessage()" type="text"
                            name="fieldName11" />
                        <!-- <button class="bg-indigo-600 text-white px-6 text-lg font-semibold py-4 rounded-r-md">Go</button> -->
                    </div>
                    <button class="bg-primary px-6 text-lg font-semibold py-4 rounded-md"
                        (click)="sendMessage()"><mat-icon matSuffix
                            class=" send-icon text-white">send</mat-icon></button>
                </div>
                <!-- </mat-form-field> -->
            </div>
        </div>
        <div class="col-span-3 overflow: auto; py-5" *ngIf="this.showPDF">
            <div id="corner-triangle">
                <div class="corner-triangle-text"><a (click)="hidePDF()"><span
                            class="corner-triangle-firstline"><mat-icon>
                                close
                            </mat-icon></span><br></a></div>
            </div>
            <app-example-pdf-viewer [template]="input_string">

            </app-example-pdf-viewer>
        </div>
    </div>
</div>
<!-- </div> -->